header {
    background-color: dodgerblue;
    height: 150px;
    margin: 0 auto;
    }

#capa {
  width: 260px;
    }
#imgCapa {
  margin: 0 auto;
  width: 260px;
}

body{margin: 0 auto;}

nav { background-color: dodgerblue}
nav ul { list-style:none; margin:0 auto; padding:4px }
nav ul li { display:inline-block }
nav ul li a { font-size: 0.85em; text-decoration: none; color: #FFF; padding: 4px 20px }
nav ul li a:hover { background-color: skyblue}

footer {
    background-color: black;
    color: white;
    height: 150px
}
#imgfooter{
    margin-left: 4%;
    margin-top: 15px
}
