<div id="particles-js" style="background-image: url({{ site.imagem }})">
  <div class="header">
      <h1>
        <span class="site-title">{% if site.imagem %}  {%else%}{{ site.nome}}{% endif %}</span>
        <span class="site-description">{% if site.imagem %}  {%else%}{{ site.descricao}}{% endif %}</span>
      </h1>
      <div class="header-icons" style="margin-top: 370px">
        <a aria-label="Send email" href="mailto: {{ site.contato_email }}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Instagram" target="_blank" href="{{ site.contato_instagram }}"><i class="icon fa fa-instagram"
                aria-hidden="true"></i></a>
        <a aria-label="My Facebook" target="_blank" href="{{ site.contato_facebook }}"><i class="icon fa fa-facebook"
                aria-hidden="true"></i></a>
    </div>
      <div class="header-links">
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
