<div id="particles-js" style="background-image: url({{ site.imagem }})">
  <div class="header">
    <div style="margin-top: 100px">
      <img class="img-fluid" src="{{ site.imagem_logo}}" alt="" style="max-height: 400px; min-width: 300px;">
    </div>
    <h1>
      <span class="site-title">{% if site.imagem_logo %} {%else%}{{ site.nome}}{% endif %}</span>
      <span class="site-description">{% if site.imagem_logo %} {%else%}{{ site.descricao}}{% endif %}</span>
    </h1>
    <div class="header-icons" style="margin-top: -100px">
      <a aria-label="Send email" href="mailto: {{ site.contato_email }}"><i class="icon fa fa-envelope"></i></a>
      <a aria-label="My Instagram" target="_blank" href="{{ site.contato_instagram }}"><i class="icon fa fa-instagram"
          aria-hidden="true"></i></a>
      <a aria-label="My Facebook" target="_blank" href="{{ site.contato_facebook }}"><i class="icon fa fa-facebook"
          aria-hidden="true"></i></a>
    </div>
    <div class="header-links">
    </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>